<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h5 class="mt-3">Editar computador</h5>
                </div>
                <form autocomplete="off">

                    <div class="row">
                        <div class="col-md-6">
                            <label>Marca do computador:</label>
                            <input type="text" class="form-control" formControlName="marca" />
                        </div>
                        <div class="col-md-6">
                            <label>Modelo do computador:</label>
                            <input type="text" class="form-control" formControlName="modelo" />
                        </div>
                        <div class="col-md-6">
                            <label>Placa mãe do computador:</label>
                            <input type="text" class="form-control" formControlName="placa" />
                        </div>
                        <div class="col-md-6">
                            <label>Memória ram do computador:</label>
                            <input type="text" class="form-control" formControlName="memoria" />
                        </div>
                        <div class="col-md-6">
                            <label>Hd do computador:</label>
                            <input type="text" class="form-control" formControlName="hd" />
                        </div>
                        <div class="col-md-6">
                            <label>Velocidade do processador:</label>
                            <input type="text" class="form-control" formControlName="processador" />
                        </div>
                        <div class="col-md-6 mt-3">
                            <label>Foto do computador: </label>
                            <input type="file" formControlName="foto" />
                        </div>

                        <br />
                        <br />
                        <br />

                        <div class="d-grid">
                            <input type="submit" class="btn btn-success" value="Alterar" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>