<h5>Computadores cadastrados</h5>
<hr />

<div class="row">
    <div class="col-md-6">
        <span>Quantidade de computadores: <strong>0</strong></span>
        <br />
        <br />
    </div>
</div>

<table class="table table-bordered table-stripped table-hover">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Placa mãe</th>
            <th>Memória ram</th>
            <th>Hd</th>
            <th>Velocidade do processador</th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>